.profile{
    max-width: 350px;
    margin: 0 auto;
    background-color: antiquewhite;
    border: red solid;
}

#avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar img {
    background-color: black;
    width: 50%;
    height: 100%;
    margin: 1em;
}

#avatar figcaption{
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.links{
    background-color: brown;
    margin: 10px 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#link{
    background-color: aqua;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    border: pink solid;
}

.icons{
    background-color: green;
    display: flex;
    justify-content: space-evenly;
}
