:root{
    background-color: #FAF7FD;
    --purple: #BB99DD
}

*{
    font-family: 'Poppins', sans-serif;
}

.profile{
    max-width: 350px;
    min-width: 150px;
    margin: 0 auto;
    font-weight: 300;
    color: var(--purple);
}

#avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar img {
    width: 50%;
    height: 100%;
    margin: 1em;
}

#avatar figcaption{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.links{
    margin: 10px 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#link{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    border: var(--purple) solid;
    font-weight: 600;
    color: var(--purple);
}

.icons{
    display: flex;
    justify-content: space-evenly;
}
